<!DOCTYPE html>
<html>

  <%- include('../partials/header'); %> 

  <body>
    <%- include('../partials/navbar'); %> 
    
    <div class="container">
      <div class="row">
        <h1 class="text-center">Welcome to <%= title %></h1>
        </div>
      </div>


      <h2>Enter a New Hotel</h2>
<form action="/hotels" method="POST">
  <label>Hotel:
    <select name="name">
      <option value="marriott">Marriott</option>
      <option value="hilton">Hilton</option>
      <option value="hyatt">Hyatt</option>
      <option value="wyndham">Wyndham</option>
    </select>
  </label><br>
  <label>Service Schedule:
    <select name="serviceSchedule">
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="uponRequest">Upon Request</option>
      <option value="noService">No Service</option>
    </select>
  </label><br>
  <label>Length of Stay:
    <input type="number" name="lengthOfStay">
  </label><br>
 
  <input type="submit" value="Add Hotel">
</form>




  </body>
</html>
